%section.no-padding-top
	#global-footer
		.container
			.row
				.col-sm-12
					.padding-top.border-top
						%nav
							%ul.list-unstyled.footer-nav.text-center
								%li
									© 2015 PMTraining All rights reserved.
								%li
									%a{:href=>"#"}
										PM Training On-Demand  PMP Bootcamp Quizzes & Practice Test
