;;;

"title": "Classroom",
"activeclass": "classroom"

;;;

%section
	.container
		.row
			.col-lg-12
				.page-header.no-margin-top.dark
					%h1.no-margin-bottom
						Classroom
		.row
			.col-lg-12
				%img.img-responsive.margin-auto{:src=>"images/screen-demo.png"}